<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{.name}}文章列表</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="my-5">{{.name}}文章列表</h1>
      <table class="table">
        <thead>
          <tr>
            <th>标题</th>
            <th>作者</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {{range .articles}}
          <tr>
            <td>{{.Title}}</td>
            <td>{{.Author}}</td>
            <td>
              <a href="/v3/articles/{{.ID}}/edit">查看</a>
              <a href="/v3/articles/{{.ID}}/edit">编辑</a>
              <form method="POST" action="/v3/articles/{{.ID}}/delete" style="display: inline;">
                <button type="submit" class="btn btn-link">删除</button>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <a href="/articles/create" class="btn btn-primary">新建文章</a>
    </div>
  </body>
</html>