<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <!-- <style>
    #avatar-preview {
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background-size: cover;
      background-position: center;
    }
  </style> -->
</head>
<body>
  <form>
    <label for="username">用户名:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">密码:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="nickname">昵称:</label>
    <input type="text" id="nickname" name="nickname" required><br>
    <!-- <label for="avatar">请选择头像图片:</label>
    <input type="file" id="avatar" name="avatar" accept="image/*" onchange="previewAvatar()" required><br>
    <div id="avatar-preview"></div><br> -->
    <label for="profile">个人简介:</label>
    <input type="text" id="profile" name="profile"><br>
    <input type="button" value="注册" onclick="regis()">
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha256.js"></script>
  <script>
    // function previewAvatar() {
        // // 获取头像图片文件
        // const file = document.getElementById('avatar').files[0];

        // // 检查文件类型和大小
        // const fileType = file.type;
        // const fileSize = file.size;
        // if (!/^image\/(jpeg|png|gif)$/.test(fileType)) {
        //     alert('请选择JPEG、PNG或GIF格式的图片！');
        //     return;
        // }
        // if (fileSize > 2 * 1024 * 1024) {
        //     alert('图片大小不能超过2MB！');
        //     return;
        // }

        // 创建FileReader对象
    //     const reader = new FileReader();

    //     // 读取文件内容，并将其转换成数据URL
    //     reader.onload = function(event) {
    //         const dataURL = event.target.result;

    //         // 在HTML页面中显示文件内容
    //         const preview = document.getElementById('avatar-preview');
    //         preview.style.backgroundImage = `url(${dataURL})`;
    //     };
    //     reader.readAsDataURL(file);
    // }

	function hashPassword(password) {
		// 创建SHA-256哈希对象
		const sha256 = new jsSHA('SHA-256', 'TEXT');
		// 将密码作为输入，进行哈希加密
		sha256.update(password);
		// 返回哈希结果
		return sha256.getHash('HEX');
	};
  function regis() {
      // 获取用户名和密码
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;
      const nickname = document.getElementById('nickname').value;
      const profile = document.getElementById('profile').value;
      // const fileInput = document.getElementById('avatar');
      // const file = fileInput.files[0];
      // if (!file) {
      //   alert('请选择图片文件！');
      //   return;
      // }
      // const formData = new FormData();
      // formData.append('avatar', file);
      // formData.append('username', username);
      // formData.append('password', hashPassword(password));
      // formData.append('nickname', nickname);
      // formData.append('profile', profile);
      // 创建XMLHttpRequest对象
      const xhr = new XMLHttpRequest();

      // 设置请求地址和请求参数
      xhr.open('POST', '/regis');
      xhr.setRequestHeader('Content-Type', 'application/json');
      const data = {'username': username, 'password': hashPassword(password),'nickname':nickname,'profile':profile};
      const jsonData = JSON.stringify(data);
      // 发送请求
      xhr.send(jsonData)
      // 处理响应结果
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            console.log(response);
            window.location.assign("/login");
            // 处理响应结果
          } else {
            alert("用户名重复")
            console.error(xhr.statusText);
            // 处理请求失败情况
          }
        }
      };
    }

  </script>
</body>
</html>