<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>发布文章</title>
  </head>
  <body>
    <h1>发布文章</h1>
    <form method="POST" action="/articles/create">
      <div>
        <label for="title">标题</label>
        <input type="text" id="title" name="title">
      </div>
      <div>
        <label for="content">内容</label>
        <textarea id="content" name="content"></textarea>
      </div>
      <div>
        <label for="author">作者</label>
        <input type="text" id="author" name="author">
      </div>
      <button type="submit">发布文章</button>
    </form>
  </body>
</html>