<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>登录</title>
</head>
<body>
  <form>
    <label for="username">用户名：</label>
    <input type="text" id="username" name="username"><br>
    <label for="password">密码：</label>
    <input type="password" id="password" name="password"><br>
    <input type="button" value="登录" onclick="login()">
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha256.js"></script>
  <script>
	function hashPassword(password) {
		// 创建SHA-256哈希对象
		const sha256 = new jsSHA('SHA-256', 'TEXT');
		// 将密码作为输入，进行哈希加密
		sha256.update(password);
		// 返回哈希结果
		return sha256.getHash('HEX');
	};
    function login() {
      // 获取用户名和密码
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      // 创建XMLHttpRequest对象
      const xhr = new XMLHttpRequest();

      // 设置请求地址和请求参数
      xhr.open('POST', '/v3/user/login');
      xhr.setRequestHeader('Content-Type', 'application/json');
      const data = {'username': username, 'password': hashPassword(password)};
      const jsonData = JSON.stringify(data);

      // 发送请求
      xhr.send(jsonData);

      // 处理响应结果
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            console.log(response);
            localStorage.setItem("token",xhr.getResponseHeader("jwt"))
            window.location.assign("/temp");
            // 处理响应结果
          } else {
            console.error(xhr.statusText);
            // 处理请求失败情况
          }
        }
      };
    }

  </script>
</body>
</html>